In [3]:
#q1
bill = 47.28
tip = bill * 15/100
total = bill + tip
share = bill/2 
print("You have to pay: " ,share)

You have to pay:  23.64

In [14]:
#Q3
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(word1 +" "+ word2+" "+word3+" "+ word4+ " " + word5 +" " + word6+ " "+ word7)

How do you like Python so far?

# List & str

In [44]:
#Q1
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last=[]
last.append(sports[-1])
last.append(sports[-2])
last.append(sports[-3])
last

['hockey', 'ping pong', 'curling']

In [46]:
my_str = "MICHIGAN"
for i in my_str:
    print (i)

M
I
C
H
I
G
A
N

In [48]:
#q3
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]
for i in several_things:
    print(i)
for t in several_things:
    print(type(t))

hello
2
4
6.0
7.5
234352354
the end

99
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [49]:
#q4
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]
for i in str_list:
    print(len(i))

5
0
7
9
13

In [57]:
#q5 without space
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
a=original_str.split()

for i in a:
    num_chars += len(i)
    
print(num_chars)

48

In [26]:
#q5 with space
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
#original_str.split()
for i in original_str:
    #print(len(i))
    num_chars+= len(i)
#for i in original_str:
    # Write your code here.
#Displays the total number of characters present in the given string.
print("Total number of characters in a string: " + str(num_chars))

Total number of characters in a string: 57

In [67]:
#q6
addition_str = "2+5+10+20"
number =addition_str.split('+')
sum_val = 0
for n in number:
    sum_val+= int(n)
    
sum_val

37

In [8]:
#q7
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temp = week_temps_f.split(",")
print(temp)
c=0
d=0
for tem in temp:
    c+= float(tem)
for m in range (len(temp)):
    d=m+1
    #print(d)
av=c/d
av

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']

80.67142857142858

In [27]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temp = week_temps_f.split(",")
print(temp)
count = 0
num = 0
for tem in temp:
    num =num + float(tem)
count=(len(temp))
avg_temp = num / count
avg_temp

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']

80.67142857142858

In [84]:
#q8
nums=[]
for i in range(0,68):
    nums.append(i)
print(nums ,end=" ")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]

In [86]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
lis = original_str.split()
num_words_list = []
for i in lis:
    num_words_list.append(len(i))   
print(num_words_list)

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [90]:
lett=""
for i in range(1):
    lett='bbbbbbb'
print(lett)

bbbbbbb

In [6]:
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
#original_str.split()
for i in original_str:
    #print(len(i))
    num_chars+= len(i)
#for i in original_str:
    # Write your code here.
#Displays the total number of characters present in the given string.
print("Total number of characters in a string: " + str(num_chars))

Total number of characters in a string: 57

# Dict

In [4]:
#q1
medal_count = {'us':70,'gb':38,'c':45,'r':30,'g':17}
print(medal_count)

{'us': 70, 'gb': 38, 'c': 45, 'r': 30, 'g': 17}

In [5]:
#q2
swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4}
swimmers['Phelps']=21
print(swimmers)

{'Manuel': 4, 'Lochte': 12, 'Adrian': 7, 'Ledecky': 5, 'Dirado': 4, 'Phelps': 21}

In [6]:
#q3
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}
sports_periods['hockey']=3
sports_periods

{'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2, 'hockey': 3}

In [8]:
#q4
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
golds['Spain']=golds['Spain']+2
golds

{'Italy': 12,
 'USA': 33,
 'Brazil': 15,
 'China': 27,
 'Spain': 21,
 'Canada': 22,
 'Argentina': 8,
 'England': 29}

In [9]:
#q5
US_medals = {"Swimming": 33, "Gymnastics": 6, "Track & Field": 6, "Tennis": 3, "Judo": 2, "Rowing": 2, "Shooting": 3, "Cycling - Road": 1, "Fencing": 4, "Diving": 2, "Archery": 2, "Cycling - Track": 1, "Equestrian": 2, "Golf": 1, "Weightlifting": 1}
fencing_value={'Fencing'}
fencing_value

{'Fencing'}

In [20]:
#q6
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}
credits = 0

for key in Junior.keys():
    credits+= Junior[key]
print(credits)

18

In [26]:
#q7
str1 = "peter piper picked a peck of pickled peppers"
freq = {}
#str1=str1.split()
for k in str1:
    if k not in freq:
        freq[k]=1
    else:
        freq[k]= freq[k]+ 1
print(freq)

{'p': 9, 'e': 8, 't': 1, 'r': 3, ' ': 7, 'i': 3, 'c': 3, 'k': 3, 'd': 2, 'a': 1, 'o': 1, 'f': 1, 'l': 1, 's': 1}

In [5]:
#q8
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"
str1 = str1.split()

freq_words = {}

for k in str1:
    if k not in freq_words:
        freq_words[k]= 1
    freq_words[k]+= 1
print(freq_words)

{'I': 3, 'wish': 3, 'with': 3, 'all': 2, 'my': 2, 'heart': 2, 'to': 2, 'fly': 2, 'dragons': 2, 'in': 2, 'a': 2, 'land': 2, 'apart': 2}

In [25]:
#q9
sally = "sally sells sea shells by the sea shore"
characters = {}
for k in sally:
    if k not in characters:
        characters[k] = 0
    characters[k] += 1

ks = characters.keys()

best_char = list(ks)[0] # Have to turn ks into a real list before using [] to select an item

for k in ks:
    if characters[k] > characters[best_char]:
        best_char=characters[k]
print(best_char)
print(characters)

s
{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}

In [32]:
p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."
p=p.lower()
low_d = {}

for k in p: 
    if k not in low_d:
        low_d[k]=1
    low_d[k]=low_d[k]+1
print(low_d)

{'s': 6, 'u': 8, 'm': 4, 'e': 13, 'r': 4, ' ': 21, 'i': 4, 'a': 7, 'g': 4, 't': 10, 'o': 9, 'd': 2, '.': 3, 'y': 2, 'h': 7, 'v': 2, 'b': 3, 'c': 3, 'f': 4, 'l': 2, 'n': 2}

In [27]:
p="A BMSDJD AMSJ"
print(p.lower())

a bmsdjd amsj

# Function

In [1]:
#q1
def print_seconds(hours, minutes, seconds):
    a=0
    a=hours*3600
    b=0
    b=minutes*60
    m=a+b+seconds
    return m
    print(___)

print_seconds(1,2,3)

3723

In [6]:
#q2
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(2, 30, 0)
amount_b = get_seconds(0,45, 15)
result = amount_a +amount_b
print(result)

11715

In [14]:
# q3
def month_days(m,d):
    print(str(m)+ " has "+ str(d)+ " days.")
month_days('july',31)

july has 31 days.

In [1]:
#q4
def rectangle_area(base, height):
    area= base*height  # the area is base*height
    print("The area is " + str(area))

In [33]:
#q5
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile
    return km

my_trip_miles = 56

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)
a=round(my_trip_km)
# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(a))

The distance in kilometers is 89.60000000000001
The round-trip in kilometers is 90

In [ ]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
___, ___ = order_numbers(100, 99)
print(smaller, bigger)