In [11]:
#st="Hello:hi:how:are:you"
#st.split(':') #return list


data=["abc.txt","user.csv","image.png","file1.doc","data.csv"]

#for file in data:
#   x=file.split(".")
#    if x[-1]=="csv":
#        print(file)


st="welcome"
#print(st.endswith("me"))
#print(st.startswith("we"))

for file in data:
    if file.endswith(".csv"):
        print(file)

user.csv
data.csv

In [14]:
list1=["hello","my","name","is","Amit"]

st=" ".join(list1)

st

'hello my name is Amit'

In [18]:
#function :
#def fun_name(agrs):
    #code

def msg():
    print("Hello Word this is my first function")
    

#msg()

In [21]:
def add():
    x=2
    y=3
    z=x+y
    print(z)

In [22]:
def add(x,y):
    z=x+y
    print(z)

In [24]:
add(3,4)

7

In [25]:
add(10,4)

14

In [26]:
def info(id,name,city,salary):
    print("id is. :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [28]:
info(101,"Amit","Delhi",45000)

id is. : 101
name is : Amit
city is : Delhi
salary is : 45000

In [31]:
def info(id,name,city,salary):
    print("id is. :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [33]:
info(name="Amit",city="Delhi",salary=45000,id=101)

id is. : 101
name is : Amit
city is : Delhi
salary is : 45000

In [37]:
def info(id,name,city="Delhi",salary=25000):
    print("id is. :",id)
    print("name is :",name)
    print("city is :",city)
    print("salary is :",salary)

In [42]:
#info(101,"Amit")
#info(101,"Amit","Noida",45000)
#info(101,"Amit",salary=56000)

id is. : 101
name is : Amit
city is : Delhi
salary is : 56000

In [53]:
def add(*x):
    result=0
    for i in x:
        result=result+i
    print(result)


add(4,4,6,7,8,9,5.6,6,7,8)

64.6

In [57]:
def add(*x):
    result=0
    for i in x:
        result=result+i
    return result

In [58]:
a=add(3,4,5,6)

print(a)

18

In [64]:
def add(*x):
    result=0
    for i in x:
        result=result+i
    return result

In [63]:
a=add(2,3,4,5)

print(a)

14

In [66]:
#types of variable

#1 local variable : declared inside function
#2 global variable : decalred outside function


n=100 #global

def m1():
    p=200 #local varibale
    print(n,p)
    
def m2():
    print(n)
    print(p)
    
m1()
m2()

def m3(r,t):
    pass

100 200
100

NameError: name 'p' is not defined

In [80]:
print("start")
x=0
try:
  result=10/x
  print(result)
except ZeroDivisionError :
    print("can't div by zero")
    

print("end")




#try
#except
#finally
#else

start
can't div by zero
end

In [84]:
print("start")
x=0
list1=[2,6,9,3]
try:
  result=10/x
  try:
     print(list1[5])
  except IndexError as ex:
        print(ex)
  print(result)
except ZeroDivisionError :
    print("can't div by zero")
    

print("end")

start
can't div by zero
end

In [86]:
print("start")
x=2
list1=[2,6,9,3]
try:
  result=10/x
  print(list1[5])
  print(result)
except ZeroDivisionError :
    print("can't div by zero")
except IndexError as ex:
        print(ex)   

print("end")

start
list index out of range
end

In [88]:
print("start")
x=0
list1=[2,6,9,3]
try:
  result=10/x
  print(list1[5])
  print(result)
except (ZeroDivisionError, IndexError) as ex :
    print(ex)
   

print("end")

start
division by zero
end

In [91]:
print("start")
x=0
list1=[2,6,9,3]
try:  
  result=10/x
  print(list1[5])
  print(result)
except Exception as ex :
    print(ex)
   
print("end")

start
division by zero
end

In [ ]:
try:
    read=open()
    task

except IOError as ex:
    logging.error("issue with file")
except Exception as ex:
    print()

In [ ]:
print("start")
x=0
list1=[2,6,9,3]
try:  
  result=10/x
  print(list1[5])
  print(result)
except Exception as ex :
    print(ex)
   
print("end")



'''
try:
    con=connect()
    sql1
    sql2 #error
    sql3
    
except SQLException as ex:
    print(ex)
    
finally:
    con.close()
'''

In [95]:
print("start")
x=0
list1=[2,6,9,3]
try:  
  result=10/x
  print(list1[2])
  print(result)
except Exception as ex :
    print(ex)
finally:
    print("finally block")
print("end")

start
division by zero
finally block
end

In [99]:
print("start")
x=0
list1=[2,6,9,3]
try:  
  result=10/x
  print(list1[2])
  print(result)
except Exception as ex:
    print(ex)
finally:
    print("finally block")

print("end")

start
division by zero
finally block
end

In [101]:
print("start")
x=2
list1=[2,6,9,3]
try:  
  result=10/x
  print(list1[2])
  print(result)
except Exception as ex:
    print(ex)
else:
    print("else block")
finally:
    print("finally block")

print("end")

start
9
5.0
else block
finally block
end

In [ ]:
#moudle :
read text
web scarping