In [1]:
#1 [a-zA-Z0-9] [ _ ]
#2 char, [ _ ]
#3 space
#4 keywords

In [ ]:
1 : + , - , * , / , % ,// , **
2 : == , != , < ,> <= ,>=
3 : and , or , not    
4 : in , not in

condition1 and condition2
T.           +        T.   : T
F.           +        T.   : F
T.           +        F.   : F
F.           +        F.   : F

    
    

condition1 or condition2
T.           +        T.   : T
F.           +        T.   : T
T.           +        F.   : T
F.           +        F.   : F

In [5]:
data=[101,"Amit",23,"Delhi",45000]

In [6]:
23 in data

True

In [8]:
"Amit" in data

True

In [9]:
34 not in data

True

In [26]:
#id=101
name="Amit"
age=34

id1,name1,age=102,"Deepak",45

x=3
y=3
z=3


a=b=c=45

#print(name)
#print(a,name,name1)

print("Hello",end=" ")
print("Welcome")

Hello Welcome

In [21]:
#id() # shift+tab
#help(id)

In [29]:
x=input("Enter a number :")

Enter a number :56

In [31]:
x=input("Enter a number :")
y=input("Enter a number :")

z=x+y

print(z)

Enter a number :2
Enter a number :3
23

In [37]:
x=input("Enter a number :") #return str

Enter a number :True

In [38]:
type(x)

str

In [41]:
data=open("/Users/admin/Documents/abc.txt").read()
print(data)
print(type(data))

34
<class 'str'>

In [ ]:
x="45000$"
size="34mb"
p="56%"

In [ ]:
#type casting : 

int , float , bool , str , complex :
    
1 int(45.6) => 45    
2 int(True) => 1
3 int('34') => 34 #[base10] [0-9]
4 int(5+7j) => error  #can't convert complex to int


1 float(23) => 23.0
2 float(True) => 1.0
3 float("34.6") => 34.6
4 float(5+6j) => error


1 int  : bool(0) : False
2 float : bool(0.0) : False
3 str : bool('') : False
4 complex : bool(0+0j) : False
        

1 str(23) => '23'
2 str(3.4) => '3.4'
3 str(True) => 'True'
4 str(3+6j) => '(3+6j)'

In [44]:
x=45.6
type(x)
y=int(x)

In [63]:
x=input("Enter a number :")
y=input("Enter a number :")

a=int(x)
b=int(y)

z=a+b

print(z)

Enter a number :2
Enter a number :3
5

In [64]:
x=int(input("Enter a number :"))
y=int(input("Enter a number :"))

z=x+y

print(z)

Enter a number :2
Enter a number :5
7

In [73]:
bool('')

False

In [74]:
x=''

In [75]:
len(x)

0

In [ ]:
#1 if else

In [87]:


if 8>6 :
    print("line1")
    print("line2")

else :
    print("line3")
    print("line4")

    
    
    print("line5")
print("line6")

line1
line2
line6

In [ ]:
#if - else :

if condition :
    #Task : True


==========================

if condition:
    #true
else:
    #False

In [90]:
age=int(input("Enter age :")) #23,5

if age>18:
    print("valid")

Enter age :45
valid

In [92]:
age=int(input("Enter age :")) #23,5

if age>18:
    print("valid")
else:
    print("not valid")

Enter age :5
not valid

In [95]:
x=int(input("Enter a number :")) #5,7
y=int(input("Enter a number :")) #7,7

if x!=y: #5!=7, 7!=7
   if x>y:  #5>7
      print("x is greater")
   else:
      print("y is greater")
else:
    print("both are equal")

Enter a number :7
Enter a number :7
both are equal

In [100]:
day=input("Enter day :")
amount=int(input("Enter amount :"))

if day.lower()=="sunday" and amount>=5000:
    discount=(amount*10)/100
    amount=amount-discount
    print("after 10% discount price will be :",amount)
else:
    print("without discount price will be :",amount)

Enter day :SUnday
Enter amount :7890
after 10% discount price will be : 7101.0

In [101]:
day=input("Enter day :")
amount=int(input("Enter amount :"))

if day.lower()=="sunday" and amount>=5000:
    discount=(amount*10)/100
    amount=amount-discount
    print("after 10% discount price will be :",amount)
elif   day.lower() == "sunday"    and  amount > 4000 :
    discount=(amount*5)/100
    amount=amount-discount
    print("after 5% discount price will be :",amount)
else:  
    print("without discount price will be :",amount)

Enter day :sunday
Enter amount :4567
after 5% discount price will be : 4338.65

In [ ]:
#loops

In [ ]:
#range(start,end,step)

start : default : 0
end : (end - 1step)  
steps :  default : +1    
1-10.  :  1,2,3,4,5,6,7,8,9
10-1   10,9,8,7,6,5,4,3,2 


range(10) : [0-9] => [0,1,2,3,4...9]
range(3,10) : [3-9] => [3,4,5...9]
range(1,20,2) : [1-19] => [1,3,5,7...19]
range(10,1,-1) : [10-2] => [10,9,8,7...2]

In [141]:
#loop => for , while

#for loops

#seq : list,tuple,dict,set,str,range
#for var in seq:
    #code

#for x in range(10,1,-1):
#    print(x)


#while

#while condition:
    #code


for x in range(1,11):
    print(x)
    
    
a=11
while a<11:
    print(a)
    a=a+1

In [130]:
x="Deepak"

In [131]:
type(x)

str

In [132]:
len(x)

6

In [129]:
x

('Amit', 'Deepak')

In [ ]:
#for,while
#break,continue,pass
#list
#tuple