In [1]:
#Module :  collection of related fucntion , varibales,classes,
#.py =>

In [ ]:
# text :

f=open("filename","mode")

mode:

'r' : 'rt' : read : default mode
'w' : 'wt' : write : if file exists : override, if not exists : create
'a' : 'at' : append : if file exists : append, if not exists : create
'r+' : 'rt+' : read and write
'a+' : 'at+' : append and read

In [7]:
import os

os.getcwd()

'/Users/admin'

In [12]:
f=open("/Users/admin/Movies/abc.txt","w")

f.write("welcome to DS class") #str 

f.close()

In [16]:
f=open("/Users/admin/Movies/abc.txt","a")


f.write("\nHello Amit")

f.close()

In [22]:
f=open("/Users/admin/Movies/abc.txt","r")

#data=f.read()
#data=f.read(7)
#data=f.readline()
#data=f.readlines() #list


f.close()

['A notebook integrates code and its output into a single document that combines visualizations,\n', 'narrative text, mathematical equations, and other rich media. In other words:\n', "it's a single document where you can run code, display the output, and also add explanations,\n", 'formulas, charts, and make your work more transparent, understandable, repeatable, and shareable.']

In [23]:
f=open("/Users/admin/Movies/abc.txt","r")

print(f.read(6))
print(f.readline())
print(f.read(7))
print(f.read())
print(f.read())

f.close()

A note
book integrates code and its output into a single document that combines visualizations,

narrati
ve text, mathematical equations, and other rich media. In other words:
it's a single document where you can run code, display the output, and also add explanations,
formulas, charts, and make your work more transparent, understandable, repeatable, and shareable.

In [27]:
f=open("/Users/admin/Movies/abc.txt","r")

#print(f.tell())

print(f.read())
f.seek(0)
print(f.read())

f.close()

A notebook integrates code and its output into a single document that combines visualizations,
narrative text, mathematical equations, and other rich media. In other words:
it's a single document where you can run code, display the output, and also add explanations,
formulas, charts, and make your work more transparent, understandable, repeatable, and shareable.




A notebook integrates code and its output into a single document that combines visualizations,
narrative text, mathematical equations, and other rich media. In other words:
it's a single document where you can run code, display the output, and also add explanations,
formulas, charts, and make your work more transparent, understandable, repeatable, and shareable.

In [29]:
with open(r"/Users/admin/Movies/abc.txt","r") as f:
    print(f.closed)
print(f.closed)

False
True

In [ ]:
#sql :
#mysql ,sqlserver, => 
#mysql :

#create database db_name;
#use db_name; 
#create table table_name (id int , name varchar(256),age int);
#insert into table_name values (id,name,age);


# select * from table_name;
# select col1,col2,col3 from table_name;
# select * from table_name where condition:

In [41]:
import pymysql
try:
   con=pymysql.connect(host="localhost",user="root",password="",database="db_name")
   cur=con.cursor()
   cur.execute("select * from user")
   #data=cur.fetchone()
   data=cur.fetchall()
   #data=cur.fetchmany(1)
   print(data)
   


except Exception as ex:
    print(ex)

((101, 'Amit', 23), (102, 'Deepak', 56), (103, 'Sam', 67), (104, 'tarun', 34), (105, 'Rahul', 33))

In [44]:
import csv

f=open("/Users/admin/Movies/user.csv","w")
wrt=csv.writer(f)
wrt.writerow([101,"Amit",34])

f.close()

In [46]:
import pymysql
import csv
try:
   con=pymysql.connect(host="localhost",user="root",password="",database="db_name")
   cur=con.cursor()
   cur.execute("select * from user")
   data=cur.fetchall()
   f=open("/Users/admin/Movies/user.csv","w")
   wrt=csv.writer(f)
   wrt.writerows(data)
   


except Exception as ex:
    print(ex)
finally:
    f.close()
    con.close()

In [47]:
x=[12,34,46,67]
x[0],x[-1]=x[-1],x[0]

x

[67, 34, 46, 12]

In [48]:
x=5
y=6
x,y=y,x

6

In [50]:
#list("Hello")
#["hello"]
#['h','e','l','l','o']

['H', 'e', 'l', 'l', 'o']

In [51]:
"abcd"[2:]

'cd'

In [52]:
"1Rn@".lower()

'1rn@'

In [ ]:
web scraping
Numpy