In [1]:
list4=[23,36,45,22,67,8,90,53,88]

even=[]
for x in list4:
    if x%2==0:
        even.append(x)
        
print(even)

[36, 22, 8, 90, 88]

In [2]:
#list comprehension:
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

list4=[23,36,45,22,67,8,90,53,88]

list2=[ x     for x in list4      if x%2==0  ]

list2

[36, 22, 8, 90, 88]

In [3]:
list4=[23,36,45,22,67,8,90,53,88]

even=[]
for x in list4:
    if x%2==0:
        if x>50:
            even.append(x)
        
even

[90, 88]

In [4]:
list4=[23,36,45,22,67,8,90,53,88]


list2=[ x  for x in list4 if x%2==0 if x>50 ]

list2

[90, 88]

In [5]:
list4=[23,36,45,22,67,8,90,53,88]

list3=[ x*0.2    for x in list4 ]

list3

[4.6000000000000005, 7.2, 9.0, 4.4, 13.4, 1.6, 18.0, 10.600000000000001, 17.6]

In [6]:
names=["amit","sam","ram","deepak"]

newnames=[name.title()   for name in names ]

newnames

['Amit', 'Sam', 'Ram', 'Deepak']

In [7]:
list4=[23,36,45,22,67,8,90,53,88]

list3=[1   if x%2==0  else 0   for x in list4]


print(list4)
print(list3)

[23, 36, 45, 22, 67, 8, 90, 53, 88]
[0, 1, 0, 1, 0, 1, 1, 0, 1]

In [13]:
#x=[101,"Amit",56,[4,5,6,7]]
#print(x[3][1])

x=(101,"Amit",56,[3,4,5])
x[3][1]=200

In [41]:
#dict: collection of keys and values
#dict: {k:v,k:v,k:v}
#key : key must be immutable , key need to be unique
#values : 
#dict : mutable : 

d1={"id":101,"name":"Amit","age":23,"city":"Delhi","salary":45000}

d2={123:"Deepak"}


#d3=d1+d2 #error
#print("name" in d1) #keys

#dict_name[key]
#print(d1['city'])
#print(d1['abc']) #keyError
#print(d1.get("abc","key does not exists"))

#d1['name']="Pooja"
#del d1['salary']

#print(len(d1))

In [54]:
d1={"id":101,"name":"Amit","age":23,"city":"Delhi","salary":45000}

d2={123:"Deepak"}

#add
#d1['city']="India" #not recommend
#d1.setdefault('country','India')
#d1.copy()
#d1.clear()

#k=list(d1.keys())
#v=list(d1.values())
#it=list(d1.items())

#for x in d1.items():
#    print(x[0],x[1])

In [55]:
d1={'people':[{'india':[{'id':101,"name":"Amit"},
                        {"id":102,"name":"Deepak"}]}]}

In [60]:
d1['people'][0]['india'][1]['name']

'Deepak'

In [61]:
d1={"id":101,"name":"Amit","age":23,"city":"Delhi","salary":45000}

d2={123:"Deepak","name":"Deepak","age":23}


d1.update(d2)

d1

{'id': 101,
 'name': 'Deepak',
 'age': 23,
 'city': 'Delhi',
 'salary': 45000,
 123: 'Deepak'}

In [76]:
#set : collection of unique value
#set : {,}
#set : not ordered 
#set : mutable


s1={101,"Amit",23,"Delhi"}

#s1.add(56)
#s1.remove("Amit")


s1={1,3,6,9,14}
s2={2,6,9,7,17}

#print(s1.union(s2))
#print(s1.intersection(s2))
#print(s1.difference(s2))

{1, 3, 14}

In [64]:
s1={34}
type(s1)

set

In [65]:
s2=set()
type(s2)

set

In [94]:
#str :

st1="welcome to ds class"
st2="to DS class"


#st3=st1+st2
#print('to ds' in st1)
#print(st1[2])
#print(st1[-1])
#print(st1[1:4])

#st1[1]='t' #error
#print(len(st1))

19

In [100]:
#path=r"D:\python\newfiles\temp\abc.csv"
#path="D:\\python\\newfiles\\temp\\abc.csv"

x=int(input("Enter a number :")) #2
y=int(input("Enter a number :")) #3

z=x+y

#st="sum of {} and {} is {}".format(x,y,z)
#st=f"sum of {x} and {y} is {z}"

print(st)

Enter a number :5
Enter a number :9
sum of 5 and 9 is 14

In [129]:
x="1,000,000+"
y="2.8M"
z="$4.99"


#a=float(y.rstrip('M'))
#b=float(z.lstrip('$'))
c=x.rstrip('+')
c=c.replace(',','')
int(c)

1000000

In [126]:
x="hello hi how are you"
x.replace('h','H',2)

'Hello Hi how are you'

In [132]:
data1="101,Amit,23,Delhi"
data2="102::Deepak::56"

#data1.split(',')
#data2.split("::")

['102', 'Deepak', '56']

In [133]:
st="welcoMe to ds clAss"

print(st.lower())
print(st.upper())
print(st.swapcase())
print(st.title())
print(st.capitalize())

welcome to ds class
WELCOME TO DS CLASS
WELCOmE TO DS CLaSS
Welcome To Ds Class
Welcome to ds class

In [137]:
st="welcome to ds to class to"

#st.find(sub,start,end)

#print(st.find('to')) #match will found : start index of match
#print(st.find("tp")) #not found : -1
#print(st.find('to',10))

#find index of all sub string...?

20

In [ ]:
#function
#module
#exception handling