In [ ]:
15 days:
  

1 python :


   csv,excel,txt,web,db
   
2 Data Analysis
   1 numpy : 
   2 Pandas :
   3 Matplotlib : 
   4 seaborn :
   5 EDA : 
       1 Handling missing data
       2 FS :
       3 Encoding 
       4 Project

3 ML ,NLP
   sklean : ML
   NLP
   statistics
   project

2 project
intrview QA



line1 read csv 
line2 read age column
line3 find mean of age


8pm IST to 11PM IST

break 9:30 : 20 min
   
befor break 5 min QA

befor ending of session 
10 min QA

In [1]:
#python : 
#1989 : guido van : 1991
#1.x : 1994
#2.x : 2000 : 2.7 (EOL) : print "Hello"
#3.x : 2008 : 3.9 :3.10 : print("Hello") =>2to3
#===========================================

#1 simple
#data=open("/Users/admin/Documents/abc.txt").read()

#2 open source :
#3 pltform inde :

#4 Dynamic:


static: c,c++
    
    int id=101
    id=234


dynamic :
    x=45
    x="Amit"






data:
    
data types :

id=101
age=34.5
city="Delhi"
name="Amit"

'Welcome to DS Class.'

In [2]:
x=45

In [3]:
type(x)

int

In [4]:
x="Amit"

In [5]:
type(x)

str

In [6]:
int x=45

SyntaxError: invalid syntax (<ipython-input-6-4e1906ada42d>, line 1)

In [ ]:
#x=34
#def add():
#    pass


# [a-zA-Z0-9] [ _ ]
# char , [ _ ]
# space
# keywords. :

In [15]:
#xy$556=789                 #sift + enter
#var1=23
#_x=34
#1var=56
#student_name="Amit"
#if=45

SyntaxError: invalid syntax (<ipython-input-15-df8f4378882f>, line 7)

In [16]:
print("hello")

hello

In [18]:
#data types :

#int,float,bool   str , complex

int : base10 [0-9] => x=4563456
float : 12.5575 
bool : 
     True => 1
     False => 0
str:

    ' ' : char,word
    " " : line
        
    ''' ''' : M. Line

complex :
    <real>+<imag>j

In [51]:
x="can't do that"

In [57]:
st='''line1
line2
line3
line4
line5'''

In [56]:
print(st)

line1
line2
line3

In [59]:
x=4+6j

type(x)

complex

In [63]:
x="192.168.0.1"
user="amit@123"

In [ ]:
# int, float , bool , str , complex : immutable

In [66]:
x=23
y=23

In [67]:
id(x)

4490320928

In [68]:
id(y)

4490320928

In [69]:
x=x+2

In [70]:
y

23

In [71]:
id(y)

4490320928

In [72]:
x

25

In [73]:
id(x)

4490320992

In [ ]:
#Operators :

1 :  + , - , * , / , % , // , **
2 :  == ,!= , > , < ,>=,<=

    
#tomorrow
2 types :
input
print
type casting
if else

In [89]:
x=23
y=5

#x==y
#x!=y

True

In [85]:
#x+y
#x-y
#x*y
#13%2   => 1
#13/2   => 6.5
#12/2   => 6.0

#12//2  => 6
#13//2   => 6
#4**3

64