In [1]:
#webscraping :
# bs4 => BeautifulSoup

html_doc = """
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [2]:
from bs4 import BeautifulSoup

In [3]:
soup=BeautifulSoup(html_doc,'html.parser')

In [7]:
#print(soup.prettify())

In [8]:
soup.title

In [9]:
soup.title.get_text()

"The Dormouse's story"

In [10]:
soup.p

In [11]:
soup.p.b

In [12]:
soup.p.b.get_text()

"The Dormouse's story"

In [13]:
soup.find_all('a') #list

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [14]:
soup.find_all('p')

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [15]:
soup.find_all('p','story')

[<p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [16]:
soup.find('p','story')

<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

In [19]:
soup.find(id='link2')

In [20]:
import urllib.request

In [21]:
page=urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India")

In [22]:
page.status

200

In [24]:
soup=BeautifulSoup(page,'html.parser')

In [26]:
table=soup.find('table',"wikitable sortable plainrowheaders")

In [28]:
import pandas as pd

In [29]:
df=pd.read_html(str(table))

In [31]:
df[0]

,No.,State,Administrative / Executive capital,Legislative capital,Judicial capital,Year of establishment,Former capital
0,1,Andhra Pradesh,Visakhapatnam[3],Amaravati[3],Kurnool[3],1956,Hyderabad[a](1956–2017) Amaravati (2017-2020)
1,2,Arunachal Pradesh,Itanagar,Itanagar,Guwahati,1987,—
2,3,Assam,Dispur,Dispur,Guwahati,1972,Shillong[b] (1950–1972)
3,4,Bihar,Patna,Patna,Patna,1950,—
4,5,Chhattisgarh,Naya Raipur [c],Raipur,Bilaspur,2000,—
5,6,Goa,Panaji [d],Porvorim,Mumbai,1987,—
6,7,Gujarat,Gandhinagar,Gandhinagar,Ahmedabad,1960,Ahmedabad (1960–1970)
7,8,Haryana,Chandigarh,Chandigarh,Chandigarh,1966,—
8,9,Himachal Pradesh,Shimla,Shimla (Summer)Dharamsala (Winter)[6],Shimla,1971,—
9,10,Jharkhand,Ranchi,Ranchi,Ranchi,2000,—
10,11,Karnataka,Bengaluru,Bengaluru,Bengaluru,1956,—
11,12,Kerala,Thiruvananthapuram,Thiruvananthapuram,Ernakulam,1956,—
12,13,Madhya Pradesh,Bhopal,Bhopal,Jabalpur,1956,—
13,14,Maharashtra,Mumbai[e],Mumbai (Summer) Nagpur (Winter),Mumbai,1960,—
14,15,Manipur,Imphal,Imphal,Imphal,1972,—
15,16,Meghalaya,Shillong,Shillong,Shillong,1972,—
16,17,Mizoram,Aizawl,Aizawl,Guwahati,1987,—
17,18,Nagaland,Kohima,Kohima,Guwahati,1963,—
18,19,Odisha,Bhubaneswar,Bhubaneswar,Cuttack,1950,NaN
19,20,Punjab,Chandigarh,Chandigarh,Chandigarh,1966,—
20,21,Rajasthan,Jaipur,Jaipur,Jodhpur,1950,—
21,22,Sikkim,Gangtok[f],Gangtok,Gangtok,1975,—
22,23,Tamil Nadu,Chennai[g],Chennai,Chennai,1956,—
23,24,Telangana,Hyderabad,Hyderabad,Hyderabad,2014,—
24,25,Tripura,Agartala,Agartala,Agartala,1972,—
25,26,Uttar Pradesh,Lucknow,Lucknow,Prayagraj,1950,—
26,27,Uttarakhand,Gairsain (summer) Dehradun (winter),Gairsain (summer)[8]Dehradun (winter),Nainital,2000,—
27,28,West Bengal,Kolkata,Kolkata,Kolkata,1950,—

In [33]:
df[0].to_csv("/Users/admin/Movies/India.csv")

In [34]:
import requests

In [35]:
page=requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")

In [36]:
soup=BeautifulSoup(page.content,'html.parser')

In [42]:
seven_day=soup.find(id="seven-day-forecast-container")

In [43]:
seven_day

<div id="seven-day-forecast-container"><ul class="list-unstyled" id="seven-day-forecast-list"><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Today<br/><br/></p>
<p><img alt="Today: Partly sunny, with a high near 66. South southwest wind 5 to 10 mph increasing to 11 to 16 mph in the afternoon. Winds could gust as high as 21 mph. " class="forecast-icon" src="newimages/medium/bkn.png" title="Today: Partly sunny, with a high near 66. South southwest wind 5 to 10 mph increasing to 11 to 16 mph in the afternoon. Winds could gust as high as 21 mph. "/></p><p class="short-desc">Partly Sunny</p><p class="temp temp-high">High: 66 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Tonight<br/><br/></p>
<p><img alt="Tonight: Rain.  Steady temperature around 59. Breezy, with a south southeast wind 13 to 22 mph, with gusts as high as 33 mph.  Chance of precipitation is 90%. New precipitation amounts between a tenth and quarter of an inch possible. " class="forecast-icon" src="newimages/medium/nra90.png" title="Tonight: Rain.  Steady temperature around 59. Breezy, with a south southeast wind 13 to 22 mph, with gusts as high as 33 mph.  Chance of precipitation is 90%. New precipitation amounts between a tenth and quarter of an inch possible. "/></p><p class="short-desc">Rain and<br/>Breezy</p><p class="temp temp-low">Low: 59 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Wednesday<br/><br/></p>
<p><img alt="Wednesday: Rain.  High near 66. South wind 16 to 21 mph, with gusts as high as 30 mph.  Chance of precipitation is 90%. New precipitation amounts between a tenth and quarter of an inch possible. " class="forecast-icon" src="newimages/medium/ra90.png" title="Wednesday: Rain.  High near 66. South wind 16 to 21 mph, with gusts as high as 30 mph.  Chance of precipitation is 90%. New precipitation amounts between a tenth and quarter of an inch possible. "/></p><p class="short-desc">Rain</p><p class="temp temp-high">High: 66 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Wednesday<br/>Night</p>
<p><img alt="Wednesday Night: Rain.  Low around 59. South southeast wind 8 to 13 mph.  Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. " class="forecast-icon" src="newimages/medium/nra80.png" title="Wednesday Night: Rain.  Low around 59. South southeast wind 8 to 13 mph.  Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. "/></p><p class="short-desc">Rain</p><p class="temp temp-low">Low: 59 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Thursday<br/><br/></p>
<p><img alt="Thursday: Rain.  High near 68. South southwest wind 9 to 14 mph, with gusts as high as 18 mph.  Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. " class="forecast-icon" src="newimages/medium/ra80.png" title="Thursday: Rain.  High near 68. South southwest wind 9 to 14 mph, with gusts as high as 18 mph.  Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. "/></p><p class="short-desc">Rain</p><p class="temp temp-high">High: 68 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Thursday<br/>Night</p>
<p><img alt="Thursday Night: Rain.  Low around 58. Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. " class="forecast-icon" src="newimages/medium/nra80.png" title="Thursday Night: Rain.  Low around 58. Chance of precipitation is 80%. New precipitation amounts between a tenth and quarter of an inch possible. "/></p><p class="short-desc">Rain</p><p class="temp temp-low">Low: 58 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Friday<br/><br/></p>
<p><img alt="Friday: Rain, mainly before 11am.  High near 64. Chance of precipitation is 80%." class="forecast-icon" src="DualImage.php?i=ra&amp;j=ra&amp;ip=80&amp;jp=50" title="Friday: Rain, mainly before 11am.  High near 64. Chance of precipitation is 80%."/></p><p class="short-desc">Rain then<br/>Chance Rain</p><p class="temp temp-high">High: 64 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Friday<br/>Night</p>
<p><img alt="Friday Night: A slight chance of rain before 11pm.  Mostly cloudy, with a low around 53." class="forecast-icon" src="DualImage.php?i=nra&amp;j=novc&amp;ip=0" title="Friday Night: A slight chance of rain before 11pm.  Mostly cloudy, with a low around 53."/></p><p class="short-desc">Slight Chance<br/>Rain then<br/>Cloudy</p><p class="temp temp-low">Low: 53 °F</p></div></li><li class="forecast-tombstone">
<div class="tombstone-container">
<p class="period-name">Saturday<br/><br/></p>
<p><img alt="Saturday: A chance of rain after 11am.  Mostly cloudy, with a high near 63." class="forecast-icon" src="newimages/medium/ra.png" title="Saturday: A chance of rain after 11am.  Mostly cloudy, with a high near 63."/></p><p class="short-desc">Chance Rain</p><p class="temp temp-high">High: 63 °F</p></div></li></ul></div>

In [44]:
containers=seven_day.find_all('div',"tombstone-container")

In [46]:
containers[0]

<div class="tombstone-container">
<p class="period-name">Today<br/><br/></p>
<p><img alt="Today: Partly sunny, with a high near 66. South southwest wind 5 to 10 mph increasing to 11 to 16 mph in the afternoon. Winds could gust as high as 21 mph. " class="forecast-icon" src="newimages/medium/bkn.png" title="Today: Partly sunny, with a high near 66. South southwest wind 5 to 10 mph increasing to 11 to 16 mph in the afternoon. Winds could gust as high as 21 mph. "/></p><p class="short-desc">Partly Sunny</p><p class="temp temp-high">High: 66 °F</p></div>

In [48]:
containers[0].find('p',"period-name").get_text()

'Today'

In [49]:
containers[0].find('p',"short-desc").get_text()

'Partly Sunny'

In [50]:
containers[0].find('p',"temp").get_text()

'High: 66 °F'

In [52]:
containers[0].find('img')['title']

'Today: Partly sunny, with a high near 66. South southwest wind 5 to 10 mph increasing to 11 to 16 mph in the afternoon. Winds could gust as high as 21 mph. '

In [53]:
periods=[]
short_desc=[]
temp=[]
desc=[]

In [54]:
for x in range(len(containers)):
    periods.append(containers[x].find('p',"period-name").get_text())
    short_desc.append(containers[x].find('p',"short-desc").get_text())
    temp.append(containers[x].find('p',"temp").get_text())
    desc.append(containers[x].find('img')['title'])

In [57]:
weather=pd.DataFrame({'Periods':periods,'short_dsc':short_desc,
                     'Temp':temp,'Desc':desc})

In [58]:
weather

,Periods,short_dsc,Temp,Desc
0,Today,Partly Sunny,High: 66 °F,"Today: Partly sunny, with a high near 66. Sout..."
1,Tonight,Rain andBreezy,Low: 59 °F,Tonight: Rain. Steady temperature around 59. ...
2,Wednesday,Rain,High: 66 °F,Wednesday: Rain. High near 66. South wind 16 ...
3,WednesdayNight,Rain,Low: 59 °F,Wednesday Night: Rain. Low around 59. South s...
4,Thursday,Rain,High: 68 °F,Thursday: Rain. High near 68. South southwest...
5,ThursdayNight,Rain,Low: 58 °F,Thursday Night: Rain. Low around 58. Chance o...
6,Friday,Rain thenChance Rain,High: 64 °F,"Friday: Rain, mainly before 11am. High near 6..."
7,FridayNight,Slight ChanceRain thenCloudy,Low: 53 °F,Friday Night: A slight chance of rain before 1...
8,Saturday,Chance Rain,High: 63 °F,Saturday: A chance of rain after 11am. Mostly...

In [60]:
weather.to_csv("/Users/admin/Movies/weather.csv",index=False)

In [61]:
#Numpy :

len(temp)

9

In [62]:
len(short_desc)

9

In [65]:
#Numpy :
import numpy as np

A=[1,2,3,4]
B=[1.0,0.5,0.7,1.4]

In [ ]:
#arr_name=np.array(list)

In [66]:
arr1=np.array(A)

In [67]:
arr2=np.array(B)

In [69]:
#print(type(arr1))

<class 'numpy.ndarray'>

In [70]:
arr1*arr2

array([1. , 1. , 2.1, 5.6])

In [71]:
arr3=np.array([2,5,6])

In [73]:
#arr1*arr3

In [74]:
#1D array

arr1=np.array([2,4,6,89,12])

In [75]:
arr1.ndim

1

In [76]:
arr1.shape

(5,)

In [77]:
arr1[3]

89

In [79]:
arr1[-1:-3:-1]

array([12, 89])

In [80]:
#2D array

arr2=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [81]:
arr2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [82]:
arr2.ndim

2

In [83]:
arr2.shape

(3, 3)

In [84]:
arr3=np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

In [85]:
arr3.shape

(4, 3)

In [86]:
arr3

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [88]:
arr3[2][1]

8

In [91]:
arr3[3,2]

12

In [95]:
arr3[2:,1]

array([ 8, 11])

In [97]:
arr3[2:,1:]

array([[ 8,  9],
       [11, 12]])

In [99]:
arr3[1:3,:2]

array([[4, 5],
       [7, 8]])

In [101]:
#3D array:
arr4=np.array([[[1,2,3],[4,5,6],[7,8,9]],[[10,11,12],[13,14,15],[16,17,18]],[[19,20,21],[22,23,24],[25,26,27]]])

In [102]:
arr4

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [103]:
arr4.ndim

3

In [104]:
arr4.shape

(3, 3, 3)

In [108]:
arr4[1,2,2]

18

In [109]:
arr4[2,1:3,2]

array([24, 27])

In [110]:
arr4[0:,1:,1]

array([[ 5,  8],
       [14, 17],
       [23, 26]])

In [111]:
#np.arange(start,end,step)

In [112]:
arr7=np.arange(1,10,0.2)

In [113]:
arr7

array([1. , 1.2, 1.4, 1.6, 1.8, 2. , 2.2, 2.4, 2.6, 2.8, 3. , 3.2, 3.4,
       3.6, 3.8, 4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. ,
       6.2, 6.4, 6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6,
       8.8, 9. , 9.2, 9.4, 9.6, 9.8])

In [116]:
#np.linspace(start,end,number of item)
arr8=np.linspace(1,10,4)

In [117]:
arr8

array([ 1.,  4.,  7., 10.])

In [120]:
np.random.randint(1,100,5)

array([66, 15, 49, 42,  2])

In [124]:
np.random.rand(2,3,4) #0-1

array([[[0.56886117, 0.26765915, 0.16876816, 0.13510744],
        [0.97541275, 0.78543705, 0.83003476, 0.89113142],
        [0.85343907, 0.49601824, 0.48122818, 0.15551798]],

       [[0.7699641 , 0.22466176, 0.43556464, 0.8329577 ],
        [0.97382733, 0.63229741, 0.23946316, 0.17015616],
        [0.95158944, 0.09461986, 0.52524318, 0.45894736]]])

In [126]:
np.random.randn(3,4)

array([[ 0.68325839,  0.32181284,  2.65261415, -1.69377304],
       [ 0.35466078,  0.94394563, -0.44392707, -0.08736103],
       [-1.03356878, -1.39356487,  0.03710549,  0.7439025 ]])

In [127]:
np.random.uniform(1,100,5) #float

array([60.75741185, 79.14832607, 87.77833316, 74.94999143, 31.13661745])

In [128]:
#Broadcasting:


arr1=np.array([2,4,5,7])
arr2=np.array([5,6,7])

In [129]:
arr1+arr2

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [130]:
arr3=np.array([5,7,9,1])

In [131]:
arr1+arr3

array([ 7, 11, 14,  8])

In [132]:
arr3*3

array([15, 21, 27,  3])