In [1]:
#Byes low,

P(A|B)=P(B|A)P(A)/P(B)

P(A|B) > P of hypo. A on the observed even B
P(B|A) => P of the evidence given that the P of a hypo is true.
P(A) => P of hypo befor observing the evidence
P(B) => P of Evidence

SyntaxError: invalid syntax (<ipython-input-1-7540d0c2705b>, line 3)

In [ ]:
weather      yes   No

overcast     5     0

Rainy        2     2
 
Sunny        3     2

total.       10.   4

In [ ]:
overcast.   5/14 => 0.35
Rainy.      4/14 => 0.29
Sunny.      5/14.=> 0.35

NO : 4/14 => 0.29
Yes : 10/14 => 0.71

In [ ]:
P(Yes|Sunny)=P(Sunny|yes)*P(Yes)/P(Sunny)

P(Sunny|Yes) => 3/10 => 0.3
P(Sunny) : 0.35
P(yes) :0.71
    
p(Yes|Sunny) : 0.3*0.71/0.35 =>  0.60

In [ ]:
P(No|Sunny)=P(Sunny|No)*P(No)/P(Sunny)

P(Sunny|NO) => 2/4 => 0.5
P(No) : 0.29
P(Sunny): 0.35
    
P(No|Sunny) = 0.5*0.29/0.35 => 0.41

In [ ]:
P(Yes|Sunny) > P(No|Sunny)

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("/Users/admin/Documents/imputation/NLP/spam.csv")

In [8]:
df['spam']=df['Category'].apply(lambda x :1 if x=="spam" else 0)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(df['Message'],df['spam'],
                                              test_size=0.25,random_state=0)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv=CountVectorizer()

In [14]:
x_train_count=cv.fit_transform(x_train)
x_test_count=cv.transform(x_test)

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
nv=MultinomialNB()

In [17]:
nv.fit(x_train_count,y_train)

MultinomialNB()

In [18]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

In [19]:
email_count=cv.transform(emails)

In [20]:
nv.predict(email_count)

array([0, 1])

In [21]:
y_pred=nv.predict(x_test_count)

In [22]:
from sklearn.metrics import confusion_matrix

In [23]:
confusion_matrix(y_test,y_pred)

array([[1206,    2],
       [  15,  170]])

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test,y_pred)

0.9877961234745154

In [26]:
df.groupby('Category').describe()

            spam
           count mean  std  min  25%  50%  75%  max
Category
ham       4825.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam       747.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("/Users/admin/Downloads/train 2.csv")

In [29]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [30]:
df.shape

(20800, 5)

In [31]:
x=df.drop('label',axis=1)

In [33]:
y=df['label']

In [34]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [35]:
df.dropna(inplace=True)

In [36]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [37]:
df.shape

(18285, 5)

In [38]:
df.reset_index(inplace=True)

In [39]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import nltk
import re

In [40]:
newdata=[]

In [46]:
lemm=WordNetLemmatizer()

In [47]:
for i in range(len(df)):
     newline=re.sub("[^a-zA-Z]"," ",df['text'][i])
     newline=newline.lower()
     words=nltk.word_tokenize(newline)
     words=[ lemm.lemmatize(word) for word in words if word not in stopwords.words('english')]
     line=" ".join(words)
     newdata.append(line)

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid=TfidfVectorizer(max_features=5000)
x=tfid.fit_transform(newdata).toarray()

In [51]:
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])