In [11]:
#for,while :

#for var in range(1,11):
#    print(var)

'''
x=1
while x<=10:
    print(x)
    x=x+1
'''

name=None

while name!="root":
    name=input("Enter username :")  #amit

Enter username :amit
Enter username :deepak
Enter username :root

In [9]:
y=None    #: null

In [10]:
y=67

In [ ]:
#1 algorithm 
#2 flowchart

In [12]:
#1-50
#result=0
#for x in range(1,51):
#    result=result+x
#print(result)


*
**
***
****

1275

In [14]:
#1,50
#for x in range(1,51):
#    if x%2==0:
#        print(x)

In [18]:
#break, continue

for x in range(5):
    if x==3:
        break
    print(x)

0
1
2

In [19]:
while True:
    name=input("Enter username :")
    if name=="root":
        print("welcome root")
        break

Enter username :amit
Enter username :deepak
Enter username :abc
Enter username :root
welcome root

In [24]:
#continue

for x in range(5):
    if x==3:
        continue
    print(x)

0
1
2
4

In [25]:
data=[234,789,654,123,89,456,342,901,89]

In [29]:
for x in data:
    if x>500:
        continue
    print(x)

234
123
89
456
342
89

In [35]:
#pass

if 4>5:
    pass
else:
    print("else")

else

In [63]:
#list : collection of objects:
#list : [ , ]
#list : itemses will store based on index
        #start : 0
        #end : n-1 ( number of item)
#list : homo,hetro,duplicate,None
#list : mutable : add,update,delete
        
    

list1=[101,"Amit",23,"Delhi",45000,"Deepak",100,"Tarun",56,78,90,"Noida"]
#.      0.   1.    2.   3.    4
list2=[23,45,678,90,32,65,78]
#list3=list1+list2
#print("Amit" in list1)

#list_name[index]
#print(list1[1])

#slice
#list_name[start:end:step] #end-1
#print(list1[1:5])
#print(list1[:5])
#print(list1[4:])
#print(list1[4:])
#print(list1[1:8:2])
#print(list1[-4:-1])
#print(list1[-1:-4:-1])

['Noida', 90, 78]

In [68]:
list1=[101,"Amit",23,"Delhi",45000]
#.      0.   1.    2.   3.    4
list2=[23,45,678,90,32,65,78]



#update
#list1[1]="Deepak"
#list1[1:3]=["Ram",56]

#delete
#del list1[3]
#del list1[1:3]

#print(len(list1))

5

In [69]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [91]:
list1=[101,"Amit",23,"Delhi",45000]
#.      0.   1.    2.   3.    4
list2=[23,45,678,90,32,65,78]


#list1.append(45)
#list1.insert(1,"Deepak")
#list1.extend([2,3,4,5,6])

#print(list1.index("Delhi"))
#print(list1.index(23))
#print(list1.index(23,3))
#list1=[23,101,"Amit",23,"Delhi",45000,23]
#filnd index of all 23  ?
#print(list1.count(23))
#list3=list1
#list4=list1.copy()
#list1.clear()
#print(list1.pop(1))
#list1.remove("Delhi")
#list1.remove(23)
#list1=[23,101,"Amit",23,"Delhi",45000,23]
#remove all 23 from list
#list1.reverse()
#list2.sort()
#list2.sort(reverse=True)
print(list2)

[678, 90, 78, 65, 45, 32, 23]

In [ ]:
list1=[23,36,45,22,67,8,90,53,88]
#find all even numbers and add them in a list

In [112]:
#tuple : collection of items
#tuple : ( , )
#tuple : based on index : start : 0 end : (n-1)
#tuple :homo,hetro,duplicate
#tuple : immutable : 


#.   -5.  -4.  -3. -2.      -1
t1=(101,"Amit",23,"Delhi",450000)
#.   0.   1.   2.   3.     4

t2=(23,56,78,90,21,65)

#t3=t1+t2
#print("Delhi" in t1)
#print(t1[-3])
#print(t1[1:4])

#t1[1]="Deepak" #error
#del t1[1] #error
#len(t1)

#t1.count(101)
#t1.index("Delhi")

3

In [96]:
x=(23,)
type(x)

tuple

In [ ]:
(5678*10)/100 => (56780)/100

(4+7)+8. => (11)+8

In [97]:
x=3,4,5

In [98]:
type(x)

tuple

In [110]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [113]:
x=[2,3,4,5]
y=(23,45,67,8)

In [114]:
list(y)

[23, 45, 67, 8]

In [115]:
tuple(x)

(2, 3, 4, 5)

In [ ]:
#dict
#set
#str
#function