In [1]:
import sqlite3

In [2]:
#wWWW
db=sqlite3.connect("db2.db")
c=db.cursor()
c.execute("insert into demo values(?,?,?)",("s001","Amit","Kolkata"))
db.commit()
print("saved")

saved

In [28]:
c.execute("insert into demo values(?,?,?)",('s001','Mahafuz','Kolkata',))
db.commit()
print('Record insert...')

OperationalError: table demo has 1 columns but 3 values were supplied

In [25]:
#WWWWWW
c.execute("select * from demo")
res=c.fetchall()
for r in res:
    print(r)

('12',)
('12',)

In [30]:
c.execute("drop table demo")
db.commit()
print("deleted..")

deleted..

In [31]:
db=sqlite3.connect("db2.db")
c=db.cursor()
c.execute("create table demo(sid text,sname text,sadd name)")
db.commit()
print('table created')

table created

In [32]:
c.execute("insert into demo values(?,?,?)",('s001','Mahafuz','Kolkata',))
db.commit()
print('Record insert...')

Record insert...

In [37]:
c.execute("select * from demo")
res=c.fetchall()
for r in res:
    print(r)

('s001', 'Mahafuz', 'Kolkata')
('s001', 'Mahafuz', 'Kolkata')
('sid', 'sname', 'sadd')

In [40]:
sid=input("Enter Id:")
sname=input("Enter name :")
sadd=input("Enter add :")
c.execute("insert into demo values(?,?,?)",(sid,sname,sadd))
db.commit()
print('Record insert...')
c.execute("select * from demo")
res=c.fetchall()
for r in res:
    print(r)

Enter Id:a007
Enter name :Mahafuz
Enter add :dvjag
Record insert...
('s001', 'Mahafuz', 'Kolkata')
('s001', 'Mahafuz', 'Kolkata')
('sid', 'sname', 'sadd')
('sid', 'sname', 'sadd')
('a007', 'Mahafuz', 'dvjag')

In [38]:
c.execute("select * from demo")
res=c.fetchall()
for r in res:
    print(r)

('s001', 'Mahafuz', 'Kolkata')
('s001', 'Mahafuz', 'Kolkata')
('sid', 'sname', 'sadd')

In [45]:
list =[('s001', 'Mahafuz', 'Kolkata'),
        ('a007', 'Mahafuz', 'dvjag')
      ]
c.executemany('insert into demo values(?,?,?)',list)
db.commit()
print("Saved..")

Saved..

In [51]:
sid=input('Enter id :')
c.execute("select * from demo where sid =?",(sid,))
res=c.fetchall()
if (res):
    for r in res:
        print(r)
else :
    print ('Record not found')

Enter id :a007
('a007', 'Mahafuz', 'dvjag')
('a007', 'Mahafuz', 'dvjag')
('a007', 'Mahafuz', 'dvjag')
('a007', 'Mahafuz', 'dvjag')
('a007', 'Mahafuz', 'dvjag')

In [54]:
list=['s001','s002','a007','a008']
for i in range (0,len(list)):
    x=list[i]
    c.execute("select * from demo where sid =?",(x,))
    res=c.fetchall()
    if (res):
        print(x,'Exist')
    else:
        print(x,'Exist not')

s001 Exist
s002 Exist not
a007 Exist
a008 Exist not

In [57]:
sid=input("Enter Id:")
sname=input("Enter name :")
sadd=input("Enter add :")
c.execute("update demo set sname=?,sadd=? where sid=?",(sname,sadd,sid))
db.commit()
print('Record updated>>>')
c.execute("select * from demo")
res=c.fetchall()
for r in res:
    print(r)

Enter Id:a007
Enter name :Mahafuz
Enter add :howrah
Record updated>>>
('s001', 'Mahafuz', 'Kolkata')
('s001', 'Mahafuz', 'Kolkata')
('sid', 'sname', 'sadd')
('sid', 'sname', 'sadd')
('a007', 'Mahafuz', 'howrah')
('s001', 'Mahafuz', 'Kolkata')
('a007', 'Mahafuz', 'howrah')
('s001', 'Mahafuz', 'Kolkata')
('a007', 'Mahafuz', 'howrah')
('s001', 'Mahafuz', 'Kolkata')
('a007', 'Mahafuz', 'howrah')
('s001', 'Mahafuz', 'Kolkata')
('a007', 'Mahafuz', 'howrah')