In [2]:
import sqlite3

In [33]:
mdb=sqlite3.connect("mdb2.mdb")
c=mdb.cursor()
c.execute("create table course(cid text,cname text,cdur text,cfees text)")
mdb.commit()
list =[('c001', 'python', '9weeks','10k'),
        ('c002', 'java', '8weeks','12k'),
        ('c003','php','7weeks','8k')
      ]
c.executemany('insert into course values(?,?,?,?)',list)
mdb.commit()
print ("For login press 0 :")
print ("For Reg Student press 1 :")
x=int (input ("Enter the value:"))
if x==0:
    c.execute("create table student(sid text,sname text,sadd text,spass text)")
    mdb.commit()
    sid=input("Enter Id:")
    sname=input("Enter name :")
    sadd=input("Enter add :")
    spass=input("Enter last pssing year :")
    c.execute("insert into student values(?,?,?,?)",(sid,sname,sadd,spass))
    mdb.commit()
    print("ReG success full>>")
    print ("course available.......")
    c.execute("select * from course")
    res=c.fetchall()
    for r in res:
        print(r)
    sreg=input("Enter course id : ")
    c.execute("create table stuReg(sid text,serg text)")
    mdb.commit()
    c.execute("insert into stuReg values(?,?)",(sid,sreg))
    mdb.commit()
    print("course Reg success>>")
    c.execute("select * from stuReg")
    res=c.fetchall()
    for r in res:
        print(r)
if x==1:
    sid=input('Enter your id :')
    c.execute("select * from stuReg where sid =?",(sid,))
    res=c.fetchall()
    if (res):
        for r in res:
            print(r)
    else :
        print ('Record not found')
if x==2:
    adminid='a001'
    password='p0000'
    adminid=input("enter admin id")
    password=input("enter password")
    if(adminid=='a001' and password=='p0000'):
        cid=input("enter course id")
        cname=input("enter course name")
        cdura=input("enter duration")
        cfees=input("enter fees of the course")
        c.execute("insert into courses values(?,?,?,?)",(cid,cname,cdura,cfees))
        mdb.commit()
        c.execute("select * from courses")
        res=c.fetchall()
        for r in res:
            print (r)
        c.execute("select * from students")
        res=c.fetchall()
        for r in res:
            print (r)
        c.execute("select * from status")
        res=c.fetchall()
        for r in res:
            print (r)  
    else:
        print("admin id or password did not matched")

OperationalError: table course already exists

In [1]:
c.execute("drop table stuReg")
mdb.commit()
print("deleted..")

NameError: name 'c' is not defined