In [1]:
a=input ("Enter the value= :")
print (type(a))

Enter the value= :121
<class 'str'>

In [2]:
int (input("Enter the value :"))
print (type (a))

Enter the value :12
<class 'str'>

In [6]:
a=10
b=20
c=10
a==b and b==c

False

In [7]:
c=int (input ("Enter the value:"))
f=(c*9/5)+32
print (f)

Enter the value:5
41.0

In [8]:
a =int(input("Enter the prnc :"))
b=int (input("Enter the time :"))
c=int (input("Ener the rate :"))
d=(a*b*c)/100
print (d)

Enter the prnc :5
Enter the time :2
Ener the rate :2
0.2

In [9]:
a=int(input("Number :"))
if (a%2==0):
    print("Even")
else:
    print("odd")

Number :85
odd

In [10]:
a=int (input("N :"))
b=int (input("N :"))
c=int (input("N :"))
if (a>b and a>c):
    print(a)
elif(b>c and b>a):
    print(b)
else:
    print(c)

N :4
N :4
N :4
4

In [ ]:
ans ="yes"
while(ans=='yes'):
    flag=0
    num=int(input("Enter number :"))
    for i in range(2,num):
        if(num%i==0):
            flag=1
            break
    if(flag==0):
        print("prime")
    else:
        print("not prime")
    ans=input("continue(yes/no)")
    if(ans=='yes'):
        continue
        print("Thank you")

In [ ]:
def sayHello(name,say="Hello"):
    print(say,name)
sayHello("web","kolkata")

In [ ]:
def addNum(*num):
    for i in num:
        print(i)
addNum(10,20,30)

In [ ]:
def addNum(*num):
    sum=0
    for i in num:
        print(i,end=' ')
        sum=sum+i
    print()
    print(sum)
addNum(10,20,30)

In [ ]:
d=lambda x:x*x
d(10)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
for i in range (0,len(list1)):
    if (list1[i]%2==0):
        print(list1[i])

In [ ]:
list2=[ ]
list2.append(13)
print(list2)

list2.append(14)
print(list2)

In [ ]:
#extend()=> can add another list with a list 
ls=[1,2,3]
ls1=[5,6]
ls.extend()
print (ls)

In [ ]:
#insert element in prefered position
ls

In [ ]:
ls.insert(2,10)
print(ls)

In [ ]:
#remove a element
del ls[2]
print (ls)

In [ ]:
#2 REMOVE AN ELEMENT 
ls.remove(1)
print (ls)

In [1]:
ls.extend([2,3,4])
print(ls)

NameError: name 'ls' is not defined

In [ ]:
del ls[1]
print(ls)

In [ ]:
ls.insert(1,1)
print(ls)

In [ ]:
#Pop
ls.pop(2)
print(ls)

In [ ]:
#short elements in acending order
ls2=[2,5,8,3,7,4]
ls2.sort()
print(ls2)

In [ ]:
#decending order
ls2.reverse()
print(ls2)

In [ ]:
#mx vlaue
#min value
print (max(ls2))
print (min(ls2))

In [ ]:
ls3=[1,2,3,4,3,5,6,7,8]
print(ls3[-6:5])
print(ls3[2:5])

In [ ]:
ls3.count(3)

In [ ]:
name='Mahafuz'
count=0
for i in range(0,len(name)):
    if (name[i]=='a' or name[i]=='e' or name[i]=='i' or name[i]=='o' or name[i]=='u'):
        count+=1
print("value:",count)

In [ ]:
x=[[12,7,3],
   [4,5,6],
   [7,8,9]]
y=[[5,8,1],
   [6,7,3],
   [4,5,9]]
res=[[0,0,0],
     [0,0,0],
     [0,0,0]]
#interate through rows
for i in range(len(x)):
    for j in range (len(x[0])):
        res[i][j]=x[i][j]+y[i][j]
for r in res:
    print (r)

In [ ]:
#string function
s1="python"
s2='python'
s3='this is python'
print (s3)

In [ ]:
str='progrmming'

In [ ]:
del str
print("success")

In [ ]:
str2="mahafuz"
print((str2+" ")*3)

In [ ]:
str2='mahafuzm'
count=0
for i in range (0,len(str2)):
    if(str2[i]=='m'):
        count+=1
print (count)

In [ ]:
#string formatin
print('''he says "what's ths  ''')
print('he says,"what\'s is this"')

In [ ]:
print("This is \n programming language")

In [ ]:
print('this is \x60 \n good boy')

In [ ]:
#format()
str1="{},{} and {}".format("A","B","C")
print (str1)
str2="{2},{0}, and {1}".format ("A","B","c")
print(str2)

In [ ]:
"binary pre of {0} is {0:b}".format(12)

In [ ]:
"Exponential pre :{0:e}".format (1556.345)

In [ ]:
"one third:{0:2f}".format (1/3)

In [ ]:
"hello".lower()

In [ ]:
"hello".upper()

In [ ]:
"this is python string".split()

In [ ]:
str = "this is new kolkata "
a=str.split()
len(a)

In [ ]:
str="this is . again this . what is this "
list=[]
list=str.split(".")
print(list)

In [ ]:
' '.join(['hi','how','ooo'])

In [ ]:
str2="This is home "
ls=[]
ls =str2.split()
ls[2]='institute'
' '.join(ls)

In [ ]:
str2.find("is")

In [ ]:
str2.replace('home','inst')

In [ ]:
#set
s={1,2,1,3}
print (s)

In [ ]:
lst=[1,1,2,3,4]
s=set(lst)
print(s)

In [ ]:
#first add 10 then 210
s.add(210)
print(s)

In [ ]:
ls=[20,30]
s.update(ls)
print(s)

In [ ]:
s.remove(30)
print(s)

In [ ]:
my_set=set("tathagata")
print(my_set)

In [ ]:
#union
A={1,2,3,4}
b={3,4,5,6}
A|b
A.union(b)

In [ ]:
A&b
A.intersection(b)

In [ ]:
#set difference
b-A
A.difference(b)

In [ ]:
A.symmetric_difference(b)

In [ ]:
C={1,2}
C.issubset(A)
A.issuperset(C)

In [12]:
list=input("Enter the gmail id: ")
count=0
for i in list:
    if(i=='.' or i=='@'):
        count+=1
if (count==2):
    print('y')
else:
    print('w ')

Enter the gmail id: gahv@g.v
w

In [1]:
dl={}
print(dl)

{}

In [2]:
d2={1:'c',2:'python',3:'java'}
d2

{1: 'c', 2: 'python', 3: 'java'}

In [3]:
d3={1:['c','java'],2:['hack','networking']}
d3

{1: ['c', 'java'], 2: ['hack', 'networking']}

In [4]:
d4=dict([(1,'java'),(2,'python')])
d4

{1: 'java', 2: 'python'}

In [5]:
print(d2[3])

java

In [6]:
print(d2.get(2))

python

In [7]:
d2[4]='android'
print(d2)

{1: 'c', 2: 'python', 3: 'java', 4: 'android'}

In [8]:
d2[4]='kotlin'
print(d2)

{1: 'c', 2: 'python', 3: 'java', 4: 'kotlin'}

In [10]:
d2.pop(4)

'kotlin'

In [12]:
del d2[3]
print(d2)

{1: 'c', 2: 'python'}

In [13]:
d2.clear()
print(d2)

{}

In [15]:
del d2
print('Removed............')

Removed............

In [17]:
d2={1:'c',2:'java',3:'python',4:'php'}
print(d2)

{1: 'c', 2: 'java', 3: 'python', 4: 'php'}

In [19]:
d2.keys()

dict_keys([1, 2, 3, 4])

In [20]:
d2.values()

dict_values(['c', 'java', 'python', 'php'])

In [21]:
marks={}.fromkeys(['maths','english'],0)
marks

{'maths': 0, 'english': 0}

In [22]:
list(d2.keys())

[1, 2, 3, 4]

In [23]:
list(sorted(d2.keys()))

[1, 2, 3, 4]

In [24]:
d2.items()

dict_items([(1, 'c'), (2, 'java'), (3, 'python'), (4, 'php')])

In [26]:
for k,v in d2.items():
    print(k,"  ",v)

1    c
2    java
3    python
4    php

In [29]:
squares={x:x**2 for x in range (6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [40]:
squares={x:x**2 for x in range(10)if x%2==1}
print(squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [32]:
d3[2][-1]

'networking'

In [34]:
emp={1:{'name':'tathaghat','addr':'kolkata'},
      2:{'name':'Mahafuz','addr':'howrah'}}
print (emp[2]['addr'])

howrah