In [4]:
st = [('Timmy', 95, 'Will pass'), ('Martha', 70)]
for i in st:
    print(i[2])

Will pass

IndexError: tuple index out of range

In [5]:
students = [('Timmy', 95, 'Will pass'), ('Martha', 70), ('Betty', 82, 'Will pass'), ('Stewart', 50, 'Will not pass'), ('Ashley', 68), ('Natalie', 99, 'Will pass'), ('Archie', 71), ('Carl', 45, 'Will not pass')]
passing = {'Will pass': 0, 'Will not pass': 0}
for tup in students:
    try:
        if tup[2]=='Will pass':
            
            passing['Will pass']+=1
        
        else:
            passing['Will not pass']+=1
    except:
        continue

print(passing['Will not pass'])

2

In [4]:
passing

{'Will pass': 3, 'Will not pass': 2}

In [9]:
i='9'
type(i)

str

In [11]:
nums = [5, 9, '4', 3, 2, 1, 6, 5, '7', 4, 3, 2, 6, 7, 8, '0', 3, 4, 0, 6, 5, '3', 5, 6, 7, 8, '3', '1', 5, 6, 7, 9, 3, 2, 5, 6, '9', 2, 3, 4, 5, 1]
plus_four = []
for i in nums:
    try:
        plus_four.append(i+4)
    except:
        plus_four.append(int(i)+4)
print(plus_four)

[9, 13, 8, 7, 6, 5, 10, 9, 11, 8, 7, 6, 10, 11, 12, 4, 7, 8, 4, 10, 9, 7, 9, 10, 11, 12, 7, 5, 9, 10, 11, 13, 7, 6, 9, 10, 13, 6, 7, 8, 9, 5]

In [16]:
items = ['a', 'b']

try:
    #a = 10/0
    third = items[2]
    print("This won't print")
except:
    a = 10/5
    print(a)
    print("this is out of bound")
#except IndexError:
#    third = items[1]
#    print(third)
 #   print("got an error")

print("continuing")

2.0
this is out of bound
continuing

In [17]:
myvar = a
a

2.0

In [11]:
s='Pythonist 2'
a=[]
for i in s:
    a.append(i)
for g in range(len(a)):
    if a[g]==a[g].upper():
        a[g]=a[g].lower()
    else:
        a[g]==a[g].lower()
        a[g]=a[g].upper()
b="".join(a)
b

'pYTHONIST 2'

In [ ]:
    if a[g]==a[g].upper():
        a[g]=a[g].lower()
    else:
        print('hh')

In [18]:
def swap_case(s):
    a=[]
    for i in s:
        a.append(i)
    for g in range(len(a)):
        if a[g]==a[g].upper():
            a[g]=a[g].lower()
        else:
            a[g]==a[g].lower()
            a[g]=a[g].upper()
    b="".join(a)   
    print(b)

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

Pythonist 2
pYTHONIST 2
None

In [24]:
s='this is a string'
s=s.split(" ")
s
a="-".join(s)
a

'this-is-a-string'

In [40]:
n='ma'
m='fuz'
m=m.split()
m.extend("!")
m="".join(m)
print('hi!',n,m,'hey')

hi! ma fuz! hey

In [11]:
s='qA2'
c=0
d=0
for i in s:
    if i==i.upper():
        d+=1
        
for i in s:
    if i==int:
        c+=1
if c==0:
    print(True)
else:
    print(False)
if d==0:
    print(True)
else:
    print(False)

True
False

In [12]:
lis1 = [10, 20, 30, 40]
print(any(lis1))

True

In [14]:
l=[9,221,3,53,76,43]
sorted(l)

[3, 9, 43, 53, 76, 221]

In [7]:
l=[1,2,3,4,5]
f=[]
g=0
for i in range(len(l)):
    if l[0]<l[i]:
        l[0]=l[i]
l

[5, 2, 3, 4, 5]

In [1]:
i=8
while i==9:
    print("Mahafuz")

In [15]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]

new_list = []

while data_list:

    minimum = data_list[0]  # arbitrary number in list 

    for x in data_list: 

        if x < minimum:

            minimum = x

    new_list.append(minimum)

    data_list.remove(minimum)    

print (new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]

In [26]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]

[-23, 5, 0, 23, -6, 23, 67]

In [24]:
i=[1,2]
i.remove(2)
i

[1]

In [3]:
a=int(input("enter a number: "))
b=10
while b>=1:
    print(a*b)
    b=b-1

enter a number: 7
70
63
56
49
42
35
28
21
14
7

In [6]:
l=[1,2,3,4,5,6]
f=[]
while l:
    mnm=l[0]
    for i in l:
        if mnm<i:
            mnm=i
    f.append(mnm)
    l.remove(mnm)
f

[6, 5, 4, 3, 2, 1]

In [2]:
l=[9,4]
l.remove(4)
l

[9]

In [3]:
data_list = [1,2,3,4,5,6,7,8]

new_list = []

while data_list:

    minimum = data_list[0]  # arbitrary number in list 

    for x in data_list: 

        if minimum < x :

            minimum = x

    new_list.append(minimum)

    data_list.remove(minimum)    

print (new_list)

[8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
l=[38,892,148,576,345]
ll=[]
while l:
    m=l[0]
    for i in l:
        if m<i:
            m=i
        ll.append(m)
    l.remove(m)
ll

[38, 892, 892, 892, 892, 38, 148, 576, 576, 38, 148, 345, 38, 148, 38]