In [17]:
import sqlite3

In [18]:
con=sqlite3.connect('coustomer.db')

In [19]:
c=con.cursor()

In [16]:
c.execute("drop table coustomer")
con.commit()

In [20]:
c.execute('''CREATE TABLE coustomer(
          first_name txt,
          last_name txt,
          email txt)
        ''')
#datatype:
#1:Null
#2Int
#3Real
#4text
#blob
con.commit()

In [21]:
c.execute("INSERT INTO coustomer VALUES('Mahafuz','Rahaman','mahafuz@rahaman')")
con.commit()

In [22]:
many_cos=[
          ('Santa','banta','santa@banta'),
          ('Suryashis','Roy','suryashis@roy'),
          ('Anis','Rahaman','anis@rahaman'),
          ]
c.executemany("INSERT INTO coustomer VALUES (?,?,?)",many_cos)
con.commit()

In [23]:
c.execute("SELECT * FROM coustomer")
print(c.fetchall())

[('Mahafuz', 'Rahaman', 'mahafuz@rahaman'), ('Santa', 'banta', 'santa@banta'), ('Suryashis', 'Roy', 'suryashis@roy'), ('Anis', 'Rahaman', 'anis@rahaman')]

In [24]:
c.execute("SELECT * FROM coustomer")
items=c.fetchall()
for item in items:
    print(item)

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Santa', 'banta', 'santa@banta')
('Suryashis', 'Roy', 'suryashis@roy')
('Anis', 'Rahaman', 'anis@rahaman')

In [25]:
c.execute("SELECT * FROM coustomer")
items=c.fetchall()
print("Firstname\t"+"Lastname\t"+"Email")
for item in items:
    print(item[0]+"\t\t"+item[1]+"\t\t"+item[2])

Firstname	Lastname	Email
Mahafuz		Rahaman		mahafuz@rahaman
Santa		banta		santa@banta
Suryashis		Roy		suryashis@roy
Anis		Rahaman		anis@rahaman

In [26]:
c.execute("SELECT rowid, * FROM coustomer")
items=c.fetchall()
for item in items:
    print(item)

(1, 'Mahafuz', 'Rahaman', 'mahafuz@rahaman')
(2, 'Santa', 'banta', 'santa@banta')
(3, 'Suryashis', 'Roy', 'suryashis@roy')
(4, 'Anis', 'Rahaman', 'anis@rahaman')

In [27]:
c.execute("SELECT * FROM coustomer WHERE email LIKE '%rahaman'")
items=c.fetchall()
for item in items:
    print(item)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Anis', 'Rahaman', 'anis@rahaman')

In [28]:
c.execute("SELECT * FROM coustomer WHERE last_name LIKE'Ra%'")
items=c.fetchall()
for item in items:
    print(item)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Anis', 'Rahaman', 'anis@rahaman')

In [29]:
c.execute("""UPDATE coustomer SET first_name='Santanu'
            WHERE last_name='banta'
""")
c.execute("SELECT * FROM coustomer")
items=c.fetchall()
for item in items:
    print(item)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Santanu', 'banta', 'santa@banta')
('Suryashis', 'Roy', 'suryashis@roy')
('Anis', 'Rahaman', 'anis@rahaman')

In [30]:
c.execute("""UPDATE coustomer SET first_name='Anisur'
            WHERE rowid=4
""")
c.execute("SELECT * FROM coustomer")
items=c.fetchall()
for item in items:
    print(item)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Santanu', 'banta', 'santa@banta')
('Suryashis', 'Roy', 'suryashis@roy')
('Anisur', 'Rahaman', 'anis@rahaman')

In [32]:
c.execute("DELETE FROM coustomer WHERE rowid=4")
c.execute("SELECT * FROM coustomer")
for i in c.fetchall():
    print(i)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Santanu', 'banta', 'santa@banta')
('Suryashis', 'Roy', 'suryashis@roy')

In [35]:
c.execute ("SELECT rowid, * FROM coustomer ORDER BY rowid DESC")
for i in c.fetchall():
    print(i)
#* can use after order by    
#ASC
#DESC
#last_name
#last_name DESC

(3, 'Suryashis', 'Roy', 'suryashis@roy')
(2, 'Santanu', 'banta', 'santa@banta')
(1, 'Mahafuz', 'Rahaman', 'mahafuz@rahaman')

In [41]:
c.execute("SELECT * FROM coustomer WHERE last_name LIKE 'bant%' and rowid=2")
for i in c.fetchall():
    print(i)
con.commit()

('Santanu', 'banta', 'santa@banta')

In [44]:
c.execute("SELECT * FROM coustomer LIMIT 2")
for i in c.fetchall():
    print(i)
con.commit()

('Mahafuz', 'Rahaman', 'mahafuz@rahaman')
('Santanu', 'banta', 'santa@banta')